.app{
  height: 100vh;
}

.app__body{
  display: flex;
  height: 100vh;
}


.userSo{
 display: grid;
 place-items: center;
 width: 6rem;
 height:3rem;
 background-color: aqua;
 position: absolute;
 right: 2rem;
 top: 3.5rem;
 z-index: 1999;
 color: gray;
 background-color: #c2e7ff;
 padding: .2rem;
 border-radius: 12px;
}

.userSo > .btn{
 width: 3rem!important;
 height: 2rem!important;
 font-size: 12px!important;
}