.SideBarOption {
 display: flex;
 align-items: center;
 height: 40px;
 padding: 0 10px;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 cursor: pointer;
 color: gray;
}

.SideBarOption:hover,
.SideBarOption:hover > p,
.SideBarOption:hover > h3,
.SideBarOption--active,
.SideBarOption--active > p,
.SideBarOption--active > h3 {
 background-color: #d3e3fd;
 color:#272a2f;
 font-weight: 700!important;
}

.SideBarOption > .MuiSvgIcon-root {
 padding: 5px;
}

.SideBarOption > h3 {
 flex: 1;
 margin-left: 10px;
 font-size: 14px;
 font-weight: 400;
}

.SideBarOption > p {
 display: none;
 font-weight: 300;
}

.SideBarOption--active > p{
 display: inline;
}

.SideBarOption:hover > p{
 display: inline;
}